/*
filename: [sakibstyle.css]
author: [Sakibul Islam]
created: [4 October 2022]
last modified: [7 October 2022]
description: [html files it refers to (sakibstyle.ss)]
*/

    body{
        background-color: #FFCBA4;
    }
    * {font-family: calabri, sans-serif;
        color:#2F4F4F;
}
h2{
    color:rgb(0,128,128);
    font-weight:bold;
    font-size:1.5em;
    }
    aside, footer{
        font-style:italic;
       }
       #images{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:300px;
       }
       .special{
        color:darkorange;
        font-weight:bold;
        }
        nav{
            text-align: center;
        }
        nav a {
            text-decoration: none;
            padding:0.2em 0.6em;
            border: 2px solid #ccc;
            }
            nav a:hover{
                background-color: #3399ff;
               }
               nav li{
                display:inline;
                }
                article{
                    text-align: center;
                }
                article p{
                    text-align: justify;
                }
                section{
                    float:left;
                    margin:auto;
                    width:auto;
                    }
                    aside{
                        float:right;
                        margin-right:30px;
                        width:250px;
                    }
                    footer{
                        text-align:center;
                        clear:both;
                        }